/* fonts */

@font-face {
  /* headers */
  font-family: "Licorice";
  src: url('fonts/Licorice-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* regular */
  font-family: "Khula", sans-serif;
  src: url('fonts/Khula-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* bold */
  font-family: "Khula", sans-serif;
  src: url('fonts/Khula-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* bold */
  font-family: "Khula", sans-serif;
  src: url('fonts/Khula-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.licorice-regular {
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Khula', sans-serif;
  background-color: #F5F6F8;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-family: "Licorice", cursive;
  color: #02131D;
  font-size: 53px;
  font-weight: normal;
  margin-bottom: 40px;
}

h2 {
  color: #BAD2E2;
  font-size: 16px;
  margin-bottom: 20px;
}

h3 {
  font-family: "Licorice", cursive;
  margin-top: 10px;
  color: #02131D;
  font-size: 40px;
  font-weight: normal;
}








/* container for all page margins */

.page-container{
  padding-top: 15vh;
  max-width: 70vw;
  margin: auto;
}

.column-layout {
  display: flex;
}

.info-column {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
}






/* search bar customizations */

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-icon {
  width: 30px; /* Adjust this value to make it bigger */
  height: auto;
  margin-right: 20px;
}

.search-text {
  font-size: 20px;
  color: #02131D;
  flex-grow: 1;
}

.search-typing-text {
  overflow: hidden;
  border-right: 1px solid #02131D; /* The cursor */
  font-size: 20px;
  white-space: nowrap;
  color: #02131D;
  font-weight: 500;
  animation: 
    typing 1s steps(18, end),
    blink-caret .75s step-end infinite;
  width: auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 18% } /* Adjust this if needed */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #02131D; }
}

.home-container{
  padding-top: 35vh;
  padding-bottom: 20vh;
  max-width: 70vw;
  margin: auto;
}






/* nav bar customizations */

.navbar {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #F5F6F8; 
padding: 10px 20px;
z-index: 1000;
}

.navbar-nav {
margin-left: auto; /* Push nav items to the right */
}

.nav-item {
margin-left: 40px; /* Space between nav items */
}

.nav-link {
  color: #001A44; 
  font-size: 16px; /* Adjust font size as needed */
  text-transform: lowercase; /* Lowercase text as shown in the image */
  font-weight: 400; /* Regular font weight */
  }
  
  .nav-link:hover {
  color: #001A44;
  }








/* header search box customizations */
.search-content-container {
  max-width: 50vw;
  margin: auto;
  padding: 25px 40px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #BAD2E2;
}

.divider {
  border-top: 1.5px solid #BAD2E2;
  margin: 20px 10px;
  }

.intro-text {
  font-size: 16px;
  line-height: 1.6;
  color: #02131D;
  margin-left: 50px; 
  margin-right: 50px; 
}








/* about me page */
.abtme-header {
  color: #BAD2E2;
  font-size: 16px;
  margin-top: 5px;
}

.abtme-header2 {
  color: #BAD2E2; 
  font-size: 16px;
  margin-left: 200px;
}

.column {
  flex: 1;
}

.image-column img {
  margin-top: 20px;
  flex-basis: 80%;
  width: 90%;
  height: 80%;
  border: 1px solid #BAD2E2; 
  border-radius: 8px;
  object-fit: cover;
}

.highlight-container {
  margin-top: 6vh;
  position: relative;
  display: flex;
}

.highlight-text {
  position: relative;
  z-index: 1;
}

.highlight-text .text {
  position: relative;
  z-index: 2;
}

.highlight-text::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 120%;
  background-color: #F5F6F8;
  border: 1px solid #BAD2E2;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 20px; 
  width: calc(100% - 50px); /* Adjust this value to make the rectangle less wide */ 
}

.info-item {
  margin-bottom: 40px;
  margin-left: 20px;
}

.underline {
  font-size: 32px;
  font-family: "Licorice", cursive;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px; /* Adjust this value to position the underline */
  height: 1px; /* Adjust the height of the underline */
  background-color: #BAD2E2;
  z-index: -1;
  width: 214px;
}

.underline2 {
  font-size: 32px;
  font-family: "Licorice", cursive;
  position: relative;
  display: inline-block;
  line-height: 1.2;
  margin-left:140px;
}

.underline2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px; /* Adjust this value to position the underline */
  height: 1px; /* Adjust the height of the underline */
  background-color: #BAD2E2;
  z-index: -1;
  width: 214px;
}

.underline3 {
  font-size: 32px;
  font-family: "Licorice", cursive;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.underline3::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px; /* Adjust this value to position the underline */
  height: 1px; /* Adjust the height of the underline */
  background-color: #BAD2E2;
  z-index: -1;
  width: 478px;
}

.value {
  font-family: "Licorice", cursive;
  font-size: 35px;
}



/* skills page */
.skills-header {
  font-size: 35px;
  font-family: "Licorice", cursive;
  position: relative;
  display: inline-block;
  line-height: 1.8;
}

.skills-header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px; 
  height: 1px; 
  background-color: #1a2b4a;
  z-index: -1;
  width: 250px; 
}

.wip-section {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.wip-section h1 {
  font-family: "Licorice", cursive;
  margin-right: 10px;
  font-size: 35px;
  line-height: 1.8;
}

.wip-section p {
  font-family: "Khula", sans-serif;
  margin: 0;
}

.skills-lists {
  display: flex;
  width: 60%;
  gap: 40px;
}


.skill-category ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-progress {
  width: 45%;
  background-color: #001A44;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.progress-item {
  margin-bottom: 10px;
}

.progress-item span {
  color: #F5F6F8;
  display: block;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #2d4373;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 35px;
  overflow: hidden;
}

.progress {
  background-color: #F5F6F8;
  height: 100%;
}








.experience-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #001A44;
}

.company-logo {
  width: 80px;
  margin-right: 15px;
  object-fit: contain;
  border-radius: 100%;
}

.experience-details {
  flex-grow: 1;
}

.expand-btn {
  background: none;
  border: none;
  font-size: 1.2em;
  color: #001A44;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  padding: 10px;
}

.experience-item.active .dropdown-content {
  display: block;
}

.experience-item.active .expand-btn {
  transform: rotate(180deg);
}








.scroll-indicator {
  text-align: center;
  margin-top: 20px;
}

.scroll-indicator img {
  width: 20px;
  height: 20px;
}

html {
  scroll-behavior: smooth;
}